<div class="container-fluid p-0">

    <!-- Header-->
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="col ">
                    <img src="../../assets/images/img1.jpg" class="d-block w-100 img-fluid "
                        style="height: 100vh; object-fit: cover;" alt="...">
                </div>

            </div>
            <!--  -->
            <div class="carousel-item">
                <div class="row">
                    <div class="col d-flex flex-column align-items-center justify-content-center  " style="background-color:#ddd0c8;">
                        
                       
                       <h2 class="display-4 fw-bold">Seasons Sale</h2>
                       <h1 class=" border border-5  border-black p-1" style="color: #002349;" >WOMEN'S FASHION</h1>
                       <h1  style="background-color: #002349;" class="text-warning p-1">FLAT 50% OFF</h1>
                       <h3>New arrivals</h3>
                       <button class="btn text-white fw-medium " style="background-color: #002349;">Explore</button>
                    </div>
                    <div class="col p-0">
                        <img src="../../assets/images/img5.jpg" class="d-block w-100 img-fluid "  style="height: 100vh; object-fit: cover;" alt="...">

                    </div>
                </div>
            </div>
            <!--  -->
            <div class="carousel-item">
                <div class="row">
                    <div class="col p-0">  
                        <img src="../../assets/images/img6.jpg" class="d-block w-100 img-fluid "  style="height: 100vh; object-fit: cover;" alt="...">                    
                    </div>
                    <div class="col d-flex justify-content-center align-items-center" style="background-color:#ddd0c8;" >
                        <div class="">
                            <h1></h1>
                            <h1 class="text-black border border-3 fw-bold border-warning p-1" style="width:fit-content">REDEFINE ELEGANCE</h1>
                            <h1 class="fw-bold display-3 " style="color:#002349">Elevate Style</h1>
                            <h1 class="fw-bold display-3 " style="color:#002349">Embrace Story </h1>
                            <h4>Make a statement with every accessory</h4><br>
                            <button class="btn text-white fw-medium "  style="background-color: #002349;">Explore </button>

                        </div>
                     
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div *ngFor="let product of allProducts | filter:searchKey:'title' " class="col mb-5">
                    <div class="card border border-0 shadow h-100 p-2">
                        <!-- Product image-->
                        <img class="card-img-top" [src]=product.image height="250px" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h6 class="fw-medium">{{product.title}}</h6>
                                <!-- Product price-->
                                ${{product.price}}
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center border border-2  fw-medium"><a class="btn  mt-auto" style="color: #002349;"  routerLink="/view/{{product.id}}">View Product</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>




</div>